$opacity: 20;
.form-control,
.form-select {
  font-size: $defaultSize;
  border: 1px solid rgba(31, 31, 31, 0.1);
  outline: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  background: #fbfbfb;
  border-radius: 4px;
  &:focus {
    border-color: #e9e9e9;
    box-shadow: 0 1px 3px 0 rgba(72, 137, 255, 0.4),
      0 1px 2px -1px rgba(72, 137, 255, 0.4);
  }
  &.is-valid {
    // background: #{$success}#{$opacity};
  }
  &.is-invalid {
    // background: #{$danger}#{$opacity};
  }
}
.form-select {
  width: 100%;
  padding: 0.5rem 0.75rem;
}
.input-group-prepend{
  .input-group-text{
    border: 1px solid rgba(31, 31, 31, 0.1);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1) !important;
    padding: 4.5px 0.75rem;
  }
}
.form-group {
  .form-label {
    font-size: $f12;
  }
  small {
    font-size: 0.75rem;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.custom-control-label::before,
.custom-control-label::after {
  margin-left: 0px !important;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: $secondary;
  background-color: $secondary;
}
