$f4: 0.25rem;
$f8: 0.5rem;
$f12: 0.75rem;
$f14: 0.875rem;
$f16: 1rem;
$f18: 1.125rem;
$f20: 1.25rem;
$f22: 1.375rem;
$f24: 1.5rem;
$f32: 2rem;
$f36: 2.25rem;
$f48: 3rem;
$f64: 4rem;
$f72: 4.5rem;

.f-4 {
  font-size: $f4 !important;
}
.f-8 {
  font-size: $f8 !important;
}
.f-10 {
  font-size: 10px !important;
}
.f-12 {
  font-size: $f12 !important;
}
.f-14 {
  font-size: $f14 !important;
}
.f-16 {
  font-size: $f16 !important;
}
.f-18 {
  font-size: $f18 !important;
}
.f-20 {
  font-size: $f20 !important;
}
.f-22 {
  font-size: $f22 !important;
}
.f-24 {
  font-size: $f24 !important;
}
.f-32 {
  font-size: $f32 !important;
}
.f-36 {
  font-size: $f36 !important;
}
.f-48 {
  font-size: $f48 !important;
}
.f-64 {
  font-size: $f64 !important;
}
.f-72 {
  font-size: $f72 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.fw-100 {
  font-weight: 100 !important;
}
.fw-200 {
  font-weight: 200 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-800 {
  font-weight: 800 !important;
}
.fw-900 {
  font-weight: 900 !important;
}
ul {
  list-style-type: none;
}
ul,
li {
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  &.roc-txt {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
    color: #000;
  }
}
p,
li,
a {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  color: #000;
}
