@import "~bootstrap/scss/functions";
$primary: #4889ff;
$secondary: #f28e1d;
$theme-colors: (
  "primary": #4889ff,
  "secondary": #f28e1d,
);

// Required
$defaultSize: 0.875rem;
$defaultLineHeight: 1.4rem;

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/type";
@import "~bootstrap/scss/bootstrap";
@import "./_Text";
@import "./_Text";
@import "./_Input";
@import "./Button";
